:root {
  --colCount: 0; /* This variable is set in App.js */
  --rowCount: 3;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.grid-wrapper {
  display: grid;
  column-gap: 120px;
  row-gap: 40px;
  grid-template-columns: repeat(var(--colCount), auto);
  grid-template-rows: repeat(var(--rowCount), auto);
  margin: 40px;
}

#suggest-button {
  margin-left: 40px;
  margin-top: 20px;
}
