.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.grid-wrapper {
  display: grid;
  column-gap: 120px;
  row-gap: 40px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 40px;
}

#suggest-button {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

#submitted {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

#in-progress {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

#done {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#project-collection-col-one {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

#project-collection-col-two {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

#project-collection-col-three {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
