.project-card {
  height: 200px;
  width: 170px;
  margin: 10px auto;
  border: var(--ink-70-a25) 1px solid;
  cursor: pointer;
  box-shadow: -4px 2px 11px 1px var(--ink-70-a25);
  border-radius: 4px;
  background: white;
  padding: 10px;
}

.project-card h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: var(--ink-70-a25) 1px solid;
}

.project-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  max-height: 128px; /* max of 8 lines */
}
